# Laravel standard ignores
/vendor/
/node_modules/
/public/storage
/storage/*.key
/.env
/.env.local
/.env.*.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log*
yarn-error.log*
/vendor/
/node_modules/
/.idea/
/.vscode/
/.DS_Store
